* {
  font-size: 62.5%;
}

.App {
  text-align: center;
  font-family: 'Stoke',
    serif;
  font-family: 'Nanum Gothic',
    sans-serif;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  color: skyblue;
  font-family: 'Stoke',
    serif;
}

.App-link {
  color: #61dafb;
}



.App {
  color: skyblue;
  background: black;
  font-size: 20px;

}

.NavBar .NavText {
  font-size: 2.5rem;
}

.NavBar .NavLink a:hover {
  font-size: 2.5rem;
  color: skyblue;
}

.button:hover {
  background: black;
}

.NavBar img {
  width: 60px;
  height: 60px;
}

.AnimeCard {
  border: 4px solid skyblue;
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0;
}

.AnimeCard img {
  border: 4px solid skyblue;
  width: 20%;
  /* object-fit: contain; */
}

.AnimeCard div {
  /* border:1px solid red; */
  font-size: 2.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* .AnimeText{
  border:1px solid red;
  font-size: 2.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
} */
.login_form {
  width: 60%;
  margin: 0 auto;
  border: 4px solid skyblue;
  border-radius: 10px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.LoginForm {
  width: 50%;
  margin: 0 auto;
  border: 3px solid skyblue;
  border-radius: 5px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}